![](images/ds_rural.png)

# Módulo 1

## Tipos de Dados

## Python

Um programa python é denominado de **script** e é uma sequencia de definições e comandos. As definições são avaliadas e os comandos são executados pelo interpretador python, chamando de **shell**.

**Objetos** são os elementos fundamentais que a linguagem manipula. Cada objeto tem um **tipo** que define a variedade de manipulações (operações) que o programa pode fazer com este objeto.

Os tipos podem ser de duas classes: **Escalares** e **não escalares**

- **Escalares**: Objetos indivisiveis ou atómicos.
    1. **int** representa números inteiros.
    2. **float** representa números reais.
    3. **bool** usada para representar valores booleanos True e False.
    
    
- **Não escalares**: Objetos que têm uma estrutura interna, por exemplo, **strings**

Uma **Expressões** é a combinação de objetos e operadores. Uma expressão retorna um **valor** de algum **tipo**.

**Operadores matemáticos e de comparação**:

In [ ]:
# soma: +
10 + 4

In [ ]:
# subtração: -
10 - 4

In [ ]:
# multiplicacao
10*4

In [ ]:
# divisao
10/4

In [7]:
# divisao inteira 
10//4

2

In [8]:
# resto da divisao
10%4

2

In [9]:
# potencia de um numero
10**4

10000

In [10]:
# comparacao: >
10 >4

10000

In [ ]:
# comparacao: <, >, <=, >=, != 
10 < 4

In [11]:
10 != 4

True

In [ ]:
# como saber o tipo da expressao

**Operadores booleanos**
- **a an b**: True, se a e b são verdadeiros e False nos outros casos.
- **a or b**: True, se a e b são True ou algum valor de a ou b são verdadeiros, nos outros casos False.
- **not a**: True se for False e False de for True.

### Python como máquina de Calcular

In [ ]:
# soma de numeros
7 + 4

In [ ]:
# multiplicacao de numeros
10 * 5

In [ ]:
# divisao
10/5

In [2]:
# resto de divisao
10 % 2

0

In [3]:
# string
'Curso' + ' de '+' Data Science'

'Curso de  Data Science'

In [6]:
# duplicacao de string
' curso '*2

' curso  curso '

### Variáveis e Atrubuição

As **variáveis** fornecem uma forma de associar **nomes** com objetos. Pode ser usada qualquer palavra para determinar uma variriável com exeção das palavras reservadas da linguagem, tipo *for*, *else*, *int*, *float*, etc.

In [17]:
# exemplo de variavel (nome) e atribuicao (valor depois do =)
pi = 3.14
r = 4
area = pi*(r**2)

In [ ]:
x = [1,2,3,4,5]
x

In [ ]:
x1 =['a',2,'aqui',40]
x1

In [ ]:
# atribuicao de valores boolianos
a = 4
b = False
r= a and b
print(r)

### Visualização de variáveis

In [ ]:
# visualizacao de variaveis
nome = 'Rio de Janeiro é considerada a Cidade Maravilhosa'
# visualizar - 1: nome da variavel
nome

In [5]:
# visualizar - 2: usando o comando print()
print(nome)

Rio de Janeiro é considerada a Cidade Maravilhosa

In [6]:
# visualizar - 3: usaando comando print()
print('Um fato:',nome)

Um fato: Rio de Janeiro é considerada a Cidade Maravilhosa

In [7]:
#visualizacao - 4: usando o comando print()
print(nome,' ...',' sengundo a Revista Fofoca')

Rio de Janeiro é considerada a Cidade Maravilhosa  ...  sengundo a Revista Fofoca

### Tipos de Dados
Um **tipo** de dato é um conjuntos de valores e operações que podem ser realizados com esses valores.

**Tipos numéricos**

- **Inteiro**: *int*

In [ ]:
# exemplo de int
n_i = 4
n_i

In [ ]:
# visualizar o tipo de dado
type(n_i)

- **Real**:*float*

In [ ]:
# exemplo de float
f = 3.9
f

In [ ]:
# visualizar o tipo de dados

In [ ]:
type(f)

**Strings**

Uma **string** é uma sequência de caracteres fechados entre aspas simples ou duplas.

In [ ]:
# exemplo de string
cidade1 = 'Rio de Janeiro'
cidade2 = "Niterói"
print(cidade1)
print(cidade2)

In [ ]:
# outra forma de apresentar?
print()

- **Concatenação de strings**:+

In [ ]:
# exemplo de concatenacao
print(cidade1+cidade2)

In [ ]:
# outra forma?

In [ ]:
# tipo ?

### Estruturas de Controle e Repetição

## Exercícios
Prática dos conteúdos estudados: construindo e operando listas e strings

1. Seja x='cachorro' e y='gato'. Quais são os valores retornados pelas operações:
    - x + y
    - "O" + x + "não gosta de " + y
    - x*6

2. Escreva uma string que contenha nome, endereço, bairro e cidade:
    - Em linhas diferentes
    - Na mesma linha

3. Quais das seguintes variáveis são nomes válidos?
    - a) length
    - b) _width
    - c) firstBase
    - d) 2MaisDois
    - e) halt!

4. Que tipo de dados seria mais apropriado para representar os seguintes valores?
    - o número de meses de um ano
    - a área de um círculo
    - o salário mínimo atual
    - a idade do universo
    - seu nome

5. Seja x = 4 e y = 0.5. Escrever os valores das seguintes expressões:
    - a) x + y * 3
    - b) (x + y) * 3
    - c) x ** y
    - d) x % y
    - e) x / 12.0
    - f) x / 6

6. Seja x = 5.33. Escrever os valores das seguintes expressões:
    - a) round(x)
    - b) int(x)
    
 Têm alguma diferença?

7. Se pode concatenar um valor numérico e uma string?. Apresente exemplos.

---
Prof. Jorge Zavaleta - zavaleta@pet-si.ufrrj.br